
h1 {
  color: #F4C23F;
  font-family: Copperplate, Papyrus, fantasy;
  font-size: 200%;

  
}

.row-content {
  background-image: url('app/assets/img/chalkboard.jpeg');
  background-size: auto;
  margin-bottom: 32px;
  min-height: 160px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.keypad {
  background-image: url('app/assets/img/chalkboard.jpeg');
  background-size: contain;
  width: 320px;
  height: 470px;
  padding: 32px;
  border-radius: 10px;
  justify-content:center;
  display: grid;
}

button {
  border: none;
  background-color: #8A8484;
  font-size: 24px;
  color: black;
  cursor: pointer;
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 32px;
  outline:none;
  margin: 3px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.key-0 {
  border: none;
  background-color: #8A8484;
  font-size: 24px;
  color: black;
  cursor: pointer;
  width: 125px;
  height: 60px;
  padding: 10px;
  border-radius: 32px;
  outline:none;
  margin: 3px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}
  
button:hover {
  background-color: #DFDADA
}

.operator {
  border: none;
  background-color: #F4C23F;
  font-size: 24px;
  color: black;
  cursor: pointer;
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 32px;
  margin: 3px;
  margin-right: 5px;
  outline: none;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.operator:hover {
  background-color: #f9f8f4;
}

.special {
  border: none;
  background-color: #c9bfbf;
  font-size: 24px;
  color: black;
  cursor: pointer;
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 32px;
  margin: 3px;
  margin-right: 5px;
  outline: none;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.special:hover {
  background-color: #DFDADA
}

.display {
  color: white;
  display: flex;
  justify-content: flex-end;
  margin-right: 0.5em;
  font-size: 3.5em;
  width: 300px;
  
  
  
}
  


.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}


